div #mix-area {
   text-shadow: -5px 2px 5px #666;
    position: absolute;
    left: 80px;
    top: 0px;
   
    /*background-color: #ccc;*/
    background: rgb(101,101,101); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(101,101,101,1) 0%, rgba(180,180,180,1) 61%, rgba(242,242,242,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(101,101,101,1)), color-stop(61%,rgba(180,180,180,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(101,101,101,1) 0%,rgba(180,180,180,1) 61%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(101,101,101,1) 0%,rgba(180,180,180,1) 61%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(101,101,101,1) 0%,rgba(180,180,180,1) 61%,rgba(242,242,242,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(101,101,101,1) 0%,rgba(180,180,180,1) 61%,rgba(242,242,242,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */

    height: 850px;
    width: 680px;
    overflow: auto;
    z-index: -1;
    text-align: center;
   
    border: 2px solid;
    /*border-radius: 15px;*/
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 1px 1px #888;

 }


.img-div {
    display:  inline-block;
    position: absolute;
  
 }


#mix-image1 {
   position: absolute;
   width:  300px;
   height: 350px;
   top: 10px;
   left: 10px;
     
}

#mix-image2 {
   position: absolute;
   width:  300px;
   height: 350px;
   top: 400px;
   left: 10px;
}

.clear{
    clear: both;
}