.app-area {
    position: relative;
    height: 700px;
    width: 650px;
    z-index: 0;

}

.control-area {
    float: left;
    position: relative;
    z-index: 8;
    color: #105294;
    text-shadow: -2px 1px 9px #777;
    border-radius: 5px;

}

.controls {
    background: rgb(165,165,165); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(165,165,165,1) 10%, rgba(206,206,206,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(10%,rgba(165,165,165,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(165,165,165,1) 10%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(165,165,165,1) 10%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(165,165,165,1) 10%,rgba(206,206,206,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(165,165,165,1) 10%,rgba(206,206,206,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#cecece',GradientType=1 ); /* IE6-9 */

    width: 80px;
    height: 335px;
    padding: 10px 5px 0px 5px;
    text-align: center;
    box-shadow: 2px 2px 5px #888;
    border-right-width: 3px;
    
    z-index: 8;
 
}

#img1-ctrl {
    border-top-left-radius: 15px;
    border-bottom: rgba(210,210,210,.5) solid 1px;
    
}
#img2-ctrl {
    border-bottom-left-radius: 15px;
}

#pressme,#pressme2 {
 /*   border: 1px solid;*/
    margin-bottom: 5px;
}
#cropme, #cropme2 {
   /* border: 1px solid;*/
    margin-bottom: 5px;

 }
 
 .img-selector {
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(183,183,183,0.89) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(183,183,183,0.89))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(183,183,183,0.89) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(183,183,183,0.89) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(183,183,183,0.89) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(183,183,183,0.89) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3b7b7b7',GradientType=1 ); /* IE6-9 */

     
     position: absolute;
     left: 15px;
     width: 500px;
     height: 100px;
     padding: 20px 20px;
     display: none;
     z-index: 10;
     border: 2px solid;
     border-radius: 10px;
     box-shadow: 3px 3px 5px #666;
     
 }

 #img1-selector {
    top: 5px;

}

#img2-selector {
    top: 400px;
   
}


.results {
    width: 420px;
    height: 200px;
    overflow-x: auto;
    margin: auto auto 10px 5px;
}



.img-cropper {
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(183,183,183,0.89) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(183,183,183,0.89))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(183,183,183,0.89) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(183,183,183,0.89) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(183,183,183,0.89) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(183,183,183,0.89) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3b7b7b7',GradientType=1 ); /* IE6-9 */

    position: absolute;
    left: 15px;
    padding: 20px 20px;
    display: none;
    z-index: 9;
  
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #666;
     
}

#img1-cropper {
  top: 5px;
}

#img2-cropper {
  top: 400px;
}

.crop-image {
     position: relative;

}

button, .ctrlBtn {
    -moz-box-shadow:inset 0px 0px 12px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 0px 12px 0px #dcecfb;
    box-shadow:inset 0px 0px 12px 0px #dcecfb;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
    background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
    background-color:#bddbfa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family: Arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 20px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
}.ctrlBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
}.ctrlBtn:active {
	position:relative;
	top:1px;
}

.actrlBtn{
 -moz-box-shadow:inset 0px 0px 12px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 0px 12px 0px #dcecfb;
    box-shadow:inset 0px 0px 12px 0px #dcecfb;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
    background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
    background-color:#bddbfa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family: Arial;
    font-size:14px;
    font-weight:bold;
    padding:5px 10px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
}.actrlBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
}.actrlBtn:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

div .acontrols {
    border-top: rgba(210,210,210,.5) solid 1px;
    position: relative;
    top: 60px;
}


@-webkit-keyframes ajax-loader-rotate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes ajax-loader-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes ajax-loader-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ajax-loader { /*
  position: relative; 
  left: 280px;
  top: -8px;
  opacity: .8;
  display: block;
  border-radius: 50%;
  z-index:10;
  font-size: 29px;
  width: .20em;
  height: .20em;

  box-shadow:
    0 -.4em       0 0 rgba(0,0,0,1),
    -.28em -.28em 0 0 rgba(0,0,0,.75),
    -.4em 0       0 0 rgba(0,0,0,.50),
    -.28em .28em  0 0 rgba(0,0,0,.25)
  ;

  -webkit-animation: .85s ajax-loader-rotate steps(8) infinite;
  -moz-animation: .85s ajax-loader-rotate steps(8) infinite;
  animation: .85s ajax-loader-rotate steps(8) infinite;
*/
  position: relative; 
  left: 267px;
  top: -28px;
  display: none;
  border-radius: 50%;
  z-index:10;
  font-size: 29px;
  width: .20em;
  height: .20em;

 
}

#grab, #grab2 {
    /*font-size: 20px;
    color: #2779aa;*/
}

#preview {
background: -moz-linear-gradient(left,  rgba(155,155,155,1) 0%, rgba(183,183,183,0.89) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(155,155,155,1)), color-stop(100%,rgba(183,183,183,0.89))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(155,155,155,1) 0%,rgba(183,183,183,0.89) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(155,155,155,1) 0%,rgba(183,183,183,0.89) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(155,155,155,1) 0%,rgba(183,183,183,0.89) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(155,155,155,1) 0%,rgba(183,183,183,0.89) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#e3b7b7b7',GradientType=1 ); /* IE6-9 */

    
    text-align:center;
    
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 30px;
    padding-right: 30px;
    
    position: absolute;
    top: 0px;
    left: 80px;
    height: 680px;
    width: 0px;
    display: none;
    
    z-index: -1;
    overflow: hidden;
    border: 0px solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 3px #888;
}

#bkg-choose {
    overflow: auto;
    background-color: #ccc;
    background-color: rgba(200,200,200, 0.8);
    border: 1px solid;
    border-radius: 4px;
    padding: 1px;
}

#bkg-choose img:hover {
    border: 1px solid;
}

#img-prev-div {
    margin-top: 3px;
    background-color: #ccc;
    background-color: rgba(200,200,200, 0.8);
    border: 1px solid;
    border-radius: 4px;
    padding: 1px;
}


/*************************************************************/
/***************MIX AREA***********/


div #mix-area {
  text-shadow: -3px 2px 4px #999;
  font-family: 'Vast Shadow', cursive;
  color: #528fcc;
  position: absolute;
  padding: 5px;
  left: 80px;
  top: 0px;
  
    background-color: #eaeaea;
    /*
background: rgb(101,101,101);  Old browsers 
background: -moz-linear-gradient(left,  rgba(101,101,101,1) 0%, rgba(180,180,180,1) 61%, rgba(242,242,242,1) 100%);  FF3.6+ 
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(101,101,101,1)), color-stop(61%,rgba(180,180,180,1)), color-stop(100%,rgba(242,242,242,1)));  Chrome,Safari4+ 
background: -webkit-linear-gradient(left,  rgba(101,101,101,1) 0%,rgba(180,180,180,1) 61%,rgba(242,242,242,1) 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(left,  rgba(101,101,101,1) 0%,rgba(180,180,180,1) 61%,rgba(242,242,242,1) 100%);  Opera 11.10+ 
background: -ms-linear-gradient(left,  rgba(101,101,101,1) 0%,rgba(180,180,180,1) 61%,rgba(242,242,242,1) 100%);  IE10+ 
background: linear-gradient(to right,  rgba(101,101,101,1) 0%,rgba(180,180,180,1) 61%,rgba(242,242,242,1) 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#f2f2f2',GradientType=1 );  IE6-9 */

    height: 680px;
    width: 550px;
    overflow: auto;
    z-index: -1;
    text-align: center;
   
    border: 0px solid;
    /*border-radius: 15px;*/
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 3px #888;

 }


.img-div {
    display:  inline-block;
    position: absolute;
    
 }


#mix-image1 {
   
   position: absolute;
   width:  250px;
   height: 300px;
   top: -25px;
   left: 10px;
     
}

#mix-image2 {
   position: absolute;
   width:  250px;
   height: 300px;
   top: 280px;
   left: 10px;
   
}

#instructResize {
    position: absolute;
    top:450px;
    left:400px;
    z-index: 10;
    border-radius: 15px;
    display: none; 
}

#instructResize2 {
    position: absolute;
    top:795px;
    left:400px;
    z-index: 10;
    border-radius: 15px;
    display: none; 
}

/*#instructResize2 img {
transform:rotate(-90deg);
-ms-transform:rotate(-90deg); /* IE 9 */
/*-moz-transform:rotate(-90deg); /* Firefox */
/*-webkit-transform:rotate(-90deg); /* Safari and Chrome */
/*-o-transform:rotate(-90deg); /* Opera */
/*}*/